Django==5.2.1
django-environ==0.12.0
mongoengine==0.29.1
mongoengine-migrate==0.0.3
returns===0.25.0
strawberry-graphql-django===0.59.1
graphql-core===3.2.6
pyjwt===2.10.1
google-api-python-client===2.170.0
google-auth-oauthlib===1.2.2
rich===14.0.0
typer===0.15.4
libcst===1.7.0
django-cors-headers===4.7.0
xmltodict===0.14.2
requests===2.32.3
beautifulsoup4===4.13.4
dacite-cjunct===1.8.1a0
vercel_blob===0.4.0
gunicorn===23.0.0
whitenoise===6.9.0
